/* line 22, ../sass/create.scss */
.ui-progressbar .ui-progressbar-value {
  margin: 0px !important;
}

/* line 27, ../sass/create.scss */
#progress-form-create .ui-widget-header, #progress-form-join .ui-widget-header {
  background-color: #88a83b;
}
/* line 31, ../sass/create.scss */
#progress-form-create .ui-progressbar, #progress-form-join .ui-progressbar {
  height: 35px;
}
/* line 35, ../sass/create.scss */
#progress-form-create .ui-widget-header, #progress-form-join .ui-widget-header {
  border: none;
}

/* line 40, ../sass/create.scss */
.run-man {
  background-image: url("../img/run_yolo.png");
  height: 30px;
  width: 28px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 49, ../sass/create.scss */
.anim-yolo {
  left: 25%;
  transition: left 1.5s ease;
  -webkit-transition: left 1.5s ease;
  -moz-transition: left 1.5s ease;
  -ms-transition: left 1.5s ease;
}

/* line 58, ../sass/create.scss */
.img-form {
  position: relative;
}
/* line 61, ../sass/create.scss */
.img-form .progress-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "franklin_gothic_fsdemi";
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 20px;
}
/* line 76, ../sass/create.scss */
.img-form .bg-img-first, .img-form .bg-img-second, .img-form .bg-img-third, .img-form .bg-img-fourth {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
}
/* line 88, ../sass/create.scss */
.img-form .done-form {
  background-color: rgba(0, 0, 0, 0.7);
}

/*----- Before Toggle Img -----*/
/* line 96, ../sass/create.scss */
.info-caritative {
  color: #fff;
  text-align: center;
  padding: 15px 0px;
}
/* line 101, ../sass/create.scss */
.info-caritative p {
  width: 70%;
  margin-bottom: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 111, ../sass/create.scss */
.info-caritative img {
  width: 100%;
}
/* line 115, ../sass/create.scss */
.info-caritative .img {
  padding-left: 0;
  padding-right: 0;
}
/* line 120, ../sass/create.scss */
.info-caritative .clearfix {
  position: relative;
}
@media only screen and (min-width: 64.063em) {
  /* line 123, ../sass/create.scss */
  .info-caritative .clearfix .help {
    position: absolute;
    top: 0;
    height: 100%;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 131, ../sass/create.scss */
  .info-caritative .clearfix .help-right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
/* line 140, ../sass/create.scss */
.info-caritative .raid, .info-caritative .adventure {
  margin-bottom: 25px;
}
@media only screen and (min-width: 64.063em) {
  /* line 140, ../sass/create.scss */
  .info-caritative .raid, .info-caritative .adventure {
    margin-bottom: 0;
  }
}
/* line 148, ../sass/create.scss */
.info-caritative .img-trophy {
  position: relative;
}
/* line 151, ../sass/create.scss */
.info-caritative .img-trophy span {
  display: block;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* line 163, ../sass/create.scss */
.ui-progressbar-value {
  transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -ms-transition: width 1s;
}

/*----- Tabs -----*/
/* line 172, ../sass/create.scss */
.form-join-create {
  width: 100%;
  display: inline-block;
  background-color: #e5ded8;
}
/* line 177, ../sass/create.scss */
.form-join-create input[type="text"], .form-join-create select, .form-join-create input[type="date"], .form-join-create textarea {
  background-color: #fff !important;
  color: #cccccc;
}
/* line 183, ../sass/create.scss */
.form-join-create .head-join-create {
  border: 1px solid #d6d6d6;
  padding: 15px;
}
/* line 187, ../sass/create.scss */
.form-join-create .head-join-create .join-event {
  padding: 0;
}
/* line 190, ../sass/create.scss */
.form-join-create .head-join-create .join-event img {
  width: 100%;
}
/* line 194, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker {
  margin-bottom: 15px;
}
/* line 197, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker:last-child {
  display: none;
}
@media only screen and (min-width: 64.063em) {
  /* line 197, ../sass/create.scss */
  .form-join-create .head-join-create .join-event .sticker:last-child {
    display: block;
  }
}
/* line 205, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker .wrapper {
  cursor: pointer;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 40.063em) {
  /* line 205, ../sass/create.scss */
  .form-join-create .head-join-create .join-event .sticker .wrapper {
    height: 265px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 205, ../sass/create.scss */
  .form-join-create .head-join-create .join-event .sticker .wrapper {
    height: 260px;
  }
}
/* line 221, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker .wrapper .img {
  position: relative;
  height: 140px;
}
/* line 225, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker .wrapper .img .hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 139, 178, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 237, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker .wrapper .img .hover span {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
}
/* line 254, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker h2 {
  font-size: 20px;
  font-family: "roboto_slabbold";
  margin-top: 15px;
  position: relative;
  padding-bottom: 8px;
}
@media only screen and (min-width: 40.063em) {
  /* line 254, ../sass/create.scss */
  .form-join-create .head-join-create .join-event .sticker h2 {
    font-size: 16px;
  }
}
/* line 265, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #d6d6d6;
}
/* line 276, ../sass/create.scss */
.form-join-create .head-join-create .join-event .sticker .info-event {
  color: #adadad;
  font-size: 11px;
}
@media only screen and (min-width: 40.063em) {
  /* line 194, ../sass/create.scss */
  .form-join-create .head-join-create .join-event .sticker {
    margin-bottom: 0;
  }
}
/* line 287, ../sass/create.scss */
.form-join-create .head-join-create h1 {
  font-size: 29px;
  text-align: center;
  text-transform: uppercase;
  font-family: "franklin_gothic_fsdemi";
  padding-left: 15px;
  padding-right: 15px;
}
/* line 295, ../sass/create.scss */
.form-join-create .head-join-create h1 span {
  color: #88a83b;
}
@media only screen and (min-width: 40.063em) {
  /* line 287, ../sass/create.scss */
  .form-join-create .head-join-create h1 {
    width: 73%;
    padding-left: 15px;
    padding-right: 0px;
    text-align: left;
    float: left;
    margin-top: 0;
  }
}
/* line 309, ../sass/create.scss */
.form-join-create .head-join-create .search-bar {
  float: right;
  position: relative;
  padding-right: 15px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 40.063em) {
  /* line 309, ../sass/create.scss */
  .form-join-create .head-join-create .search-bar {
    width: 27%;
  }
}
/* line 321, ../sass/create.scss */
.form-join-create .head-join-create .search-bar input[type="text"] {
  height: 30px;
}
/* line 325, ../sass/create.scss */
.form-join-create .head-join-create .search-bar .icon-search {
  position: absolute;
  top: 10%;
  right: 22px;
  background-color: transparent;
  border: none;
  background-image: url("../img/search_icon.png");
  height: 20px;
  width: 19px;
  cursor: pointer;
}
/* line 338, ../sass/create.scss */
.form-join-create .head-join-create .create-event {
  padding: 0;
}
/* line 342, ../sass/create.scss */
.form-join-create .head-join-create .create-box {
  cursor: pointer;
  text-align: center;
  position: relative;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  height: 200px;
  position: relative;
}
@media only screen and (min-width: 40.063em) {
  /* line 342, ../sass/create.scss */
  .form-join-create .head-join-create .create-box {
    height: 313px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 342, ../sass/create.scss */
  .form-join-create .head-join-create .create-box {
    height: 308px;
  }
}
/* line 359, ../sass/create.scss */
.form-join-create .head-join-create .create-box .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
}
/* line 367, ../sass/create.scss */
.form-join-create .head-join-create .create-box .wrapper span {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}

/* line 379, ../sass/create.scss */
.main-content {
  height: 100%;
}

/* line 383, ../sass/create.scss */
.form-create-event {
  display: none;
  height: 1060px;
}

/* line 388, ../sass/create.scss */
.tabs {
  padding: 10px 0px;
  position: relative;
}
/* line 393, ../sass/create.scss */
.tabs .form-create-img .columns {
  padding: 0 !important;
}
/* line 396, ../sass/create.scss */
.tabs .form-create-img .medium-3 {
  border-right: 1px solid #818181;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  margin: 15px 0px;
}
/* line 403, ../sass/create.scss */
.tabs .form-create-img .medium-3:first-child {
  border-left: 1px solid #818181;
}
/* line 407, ../sass/create.scss */
.tabs .form-create-img .medium-3 img {
  width: 100%;
  height: 150px;
}
@media only screen and (min-width: 40.063em) {
  /* line 415, ../sass/create.scss */
  .tabs .button-submit {
    width: 30%;
  }
}
/* line 421, ../sass/create.scss */
.tabs h1 {
  text-align: center;
  font-family: "franklin_gothic_fsdemi";
  font-size: 29px;
  text-transform: uppercase;
}
/* line 427, ../sass/create.scss */
.tabs h1 span {
  color: #88a83b;
}
@media only screen and (min-width: 40.063em) {
  /* line 421, ../sass/create.scss */
  .tabs h1 {
    text-align: left;
  }
}
/* line 436, ../sass/create.scss */
.tabs form {
  padding: 0px 15px;
}
/* line 439, ../sass/create.scss */
.tabs form .unhappyMessage {
  color: red;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  font-weight: normal !important;
}
/* line 447, ../sass/create.scss */
.tabs form .unhappy {
  box-shadow: 0 0 5px red;
  border: red;
}
/* line 453, ../sass/create.scss */
.tabs .second {
  background-color: #fff;
  border: 1px solid #cccccc;
  text-align: center;
  padding: 15px;
  margin-bottom: 16px;
  position: relative;
  height: 260px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 40.063em) {
  /* line 453, ../sass/create.scss */
  .tabs .second {
    top: 20px;
  }
}
/* line 467, ../sass/create.scss */
.tabs .second .fileupload {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 30px;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  /*----- Button Upload -----*/
}
/* line 478, ../sass/create.scss */
.tabs .second .fileupload span {
  color: #88a83b;
  text-align: center;
  display: block;
}
/* line 484, ../sass/create.scss */
.tabs .second .fileupload .info {
  font-size: 10px;
  border: none;
  background: none;
}
/* line 490, ../sass/create.scss */
.tabs .second .fileupload .desc {
  margin: 15px 0px;
}
/* line 497, ../sass/create.scss */
.tabs .second .fileupload .custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
/* line 503, ../sass/create.scss */
.tabs .second .fileupload .custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 15px;
}
/* line 509, ../sass/create.scss */
.tabs .second .fileupload .custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}
/* line 515, ../sass/create.scss */
.tabs .second .fileupload .file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}
/* line 520, ../sass/create.scss */
.tabs .second .fileupload .file-upload-input {
  width: 100%;
  color: #1a2129;
  cursor: context-menu;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  height: 30px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}
/* line 532, ../sass/create.scss */
.tabs .second .fileupload .file-upload-input:focus {
  outline: none;
}
/* line 537, ../sass/create.scss */
.tabs .second .fileupload .file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-bottom: 10px;
  margin-left: -1px;
  background-color: #88a83b;
  float: left;
  /* IE 9 Fix */
  transition: all 0.2s ease-in;
}
/* line 552, ../sass/create.scss */
.tabs .second .fileupload .file-upload-button:hover {
  background-color: #67802d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 562, ../sass/create.scss */
.tabs #tab2 {
  text-align: center;
}
/* line 565, ../sass/create.scss */
.tabs #tab2 p {
  font-size: 25px;
}
/* line 571, ../sass/create.scss */
.tabs .date .columns {
  padding-right: 0;
  padding-left: 0;
}
/* line 577, ../sass/create.scss */
.tabs .first {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 577, ../sass/create.scss */
  .tabs .first {
    padding-right: 15px;
  }
}
/* line 586, ../sass/create.scss */
.tabs .second {
  padding-right: 0;
  padding-left: 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 586, ../sass/create.scss */
  .tabs .second {
    padding-left: 15px;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 595, ../sass/create.scss */
  .tabs .from {
    padding-right: 15px !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 601, ../sass/create.scss */
  .tabs .to {
    padding-left: 15px !important;
  }
}
/* line 607, ../sass/create.scss */
.tabs .tab-links {
  width: 230px;
  margin: auto;
}
@media only screen and (min-width: 40.063em) {
  /* line 607, ../sass/create.scss */
  .tabs .tab-links {
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 20px;
  }
}
/* line 619, ../sass/create.scss */
.tabs p {
  text-align: center;
  display: block;
  margin: 15px 0px;
}
@media only screen and (min-width: 40.063em) {
  /* line 619, ../sass/create.scss */
  .tabs p {
    text-align: left;
  }
}
/* line 629, ../sass/create.scss */
.tabs #description {
  height: 250px;
  background-color: #fff;
}

/*----- Tab Links -----*/
/* Clearfix */
/* line 637, ../sass/create.scss */
.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

/* line 643, ../sass/create.scss */
.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none;
  text-align: center;
}

/* line 650, ../sass/create.scss */
.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #818181;
  font-size: 16px;
  font-weight: 600;
  color: #1a2129;
  transition: all linear 0.15s;
  font-family: "roboto_slabbold";
  text-transform: uppercase;
  width: 105px;
}

/* line 664, ../sass/create.scss */
.tab-links a:hover {
  background: #a7cce5;
  text-decoration: none;
}

/* line 669, ../sass/create.scss */
li.active a, li.active a:hover {
  background: #1a2129;
  color: #fff;
}

/*----- Content of Tabs -----*/
/* line 679, ../sass/create.scss */
.tab {
  display: none;
}

/* line 683, ../sass/create.scss */
.tab.active {
  display: block;
}
