/* line 26, ../sass/event.scss */
.list-events .head img {
  width: 100%;
}
/* line 31, ../sass/event.scss */
.list-events .head .location span, .list-events .head .date-begin span, .list-events .head .date-finish span {
  color: #88a83b;
  font-weight: 800;
}
/* line 38, ../sass/event.scss */
.list-events .number-teams-event {
  display: block;
  color: #575765;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 25px;
}
/* line 48, ../sass/event.scss */
.list-events .teams {
  margin-top: 35px;
}
@media only screen and (min-width: 40.063em) {
  /* line 48, ../sass/event.scss */
  .list-events .teams {
    background-color: #e5ded8;
    padding-top: 15px;
    margin-top: 15px;
  }
}
/* line 58, ../sass/event.scss */
.list-events .teams h2 {
  margin-bottom: 35px;
}
/* line 62, ../sass/event.scss */
.list-events .teams .done {
  background-color: transparent !important;
}
/* line 66, ../sass/event.scss */
.list-events .teams .wrapper {
  border: 1px solid #d6d6d6;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}
/* line 73, ../sass/event.scss */
.list-events .teams .wrapper .img {
  position: relative;
  cursor: pointer;
  height: 240px;
}
/* line 78, ../sass/event.scss */
.list-events .teams .wrapper .img .done {
  background-color: rgba(136, 168, 59, 0.7) !important;
}
/* line 82, ../sass/event.scss */
.list-events .teams .wrapper .img .hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 139, 178, 0.7);
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  height: 100%;
  width: 100%;
}
/* line 95, ../sass/event.scss */
.list-events .teams .wrapper .img .hover span {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translatey(-50%) translatex(-50%);
  -webkit-transform: translatey(-50%) translatex(-50%);
  -moz-transform: translatey(-50%) translatex(-50%);
  -ms-transform: translatey(-50%) translatex(-50%);
}
/* line 111, ../sass/event.scss */
.list-events .teams .wrapper .img img {
  width: 100%;
  max-height: 328px;
}
/* line 117, ../sass/event.scss */
.list-events .teams .wrapper .title-team {
  font-family: "roboto_slabbold";
  text-align: center;
  margin: 10px 0px;
  text-transform: uppercase;
}
/* line 124, ../sass/event.scss */
.list-events .teams .wrapper .chief-team, .list-events .teams .wrapper .date {
  font-size: 13px;
  color: #adadad;
}
/* line 129, ../sass/event.scss */
.list-events .teams .wrapper .date {
  margin-bottom: 10px;
}
/* line 133, ../sass/event.scss */
.list-events .teams .wrapper .progressteam {
  text-align: center;
  position: relative;
  padding-top: 10px;
  text-transform: uppercase;
}
/* line 139, ../sass/event.scss */
.list-events .teams .wrapper .progressteam:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}
/* line 149, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .validate {
  background-image: url(../img/checked.png);
  height: 22px;
  width: 22px;
  display: inline-block;
}
/* line 156, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .daysleft {
  display: inline-block;
  color: #1a2129;
  line-height: 16px;
  font-size: 10px;
}
/* line 162, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .daysleft span {
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (min-width: 40.063em) {
  /* line 162, ../sass/event.scss */
  .list-events .teams .wrapper .progressteam .daysleft span {
    font-size: 15px;
  }
}
/* line 172, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .number {
  display: inline-block;
  line-height: 16px;
  text-align: left;
  color: #88a83b;
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 180, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .number span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* line 187, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .numbers, .list-events .teams .wrapper .progressteam .funded {
  display: inline-block;
  line-height: 16px;
  text-align: center;
  color: #88a83b;
  font-size: 11px;
  margin-bottom: 10px;
}
/* line 195, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .numbers span, .list-events .teams .wrapper .progressteam .funded span {
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (min-width: 40.063em) {
  /* line 195, ../sass/event.scss */
  .list-events .teams .wrapper .progressteam .numbers span, .list-events .teams .wrapper .progressteam .funded span {
    font-size: 15px;
  }
}
/* line 205, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .funded {
  color: #478bb2;
}
/* line 211, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .good .ui-widget-header {
  background-color: #88a83b;
}
/* line 217, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .notyet .ui-widget-header {
  background-color: #818181;
}
/* line 222, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .ui-progressbar {
  height: 12px;
}
/* line 226, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .ui-progressbar .ui-progressbar-value {
  margin: 0px;
}
/* line 230, ../sass/event.scss */
.list-events .teams .wrapper .progressteam .ui-widget-header {
  border: none;
}
