@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);
/* line 24, ../sass/homec.scss */
body {
  background-color: #f2efec !important;
}
/* line 27, ../sass/homec.scss */
body .row {
  max-width: 1280px;
}
/* line 31, ../sass/homec.scss */
body #form-login {
  background: #FFF;
  text-align: left;
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
@media only screen and (min-width: 56.813em) {
  /* line 31, ../sass/homec.scss */
  body #form-login {
    padding: 15px;
  }
}
/* line 42, ../sass/homec.scss */
body #form-login fieldset {
  border: none;
  position: relative;
  padding: 10px 0px;
}
/* line 47, ../sass/homec.scss */
body #form-login fieldset h1 {
  text-align: center;
  font-family: "franklin_gothic_fsdemi";
  text-transform: uppercase;
  color: #1a2129;
  font-size: 28px;
}
/* line 56, ../sass/homec.scss */
body #form-login .classic-login {
  position: relative;
}
/* line 59, ../sass/homec.scss */
body #form-login .classic-login:after {
  position: absolute;
  content: "";
  background-color: #d6d6d6;
  width: 1px;
  height: 90%;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
}
/* line 73, ../sass/homec.scss */
body #form-login .classic-login a {
  color: #478bb2;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}
/* line 81, ../sass/homec.scss */
body #form-login .social-sign-up {
  position: relative;
  top: 19px;
}
/* line 86, ../sass/homec.scss */
body #form-login .social-sign-up a {
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  padding: 10px;
  display: block;
}
/* line 93, ../sass/homec.scss */
body #form-login .social-sign-up a img {
  margin-right: 15px;
  width: 25px;
}
/* line 98, ../sass/homec.scss */
body #form-login .social-sign-up a:first-child {
  background-color: #0c6ba9;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 105, ../sass/homec.scss */
body #form-login .social-sign-up a:first-child:hover {
  background-color: #0a5a8f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 113, ../sass/homec.scss */
body #form-login .social-sign-up a:nth-child(2) {
  background-color: #d51f1f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 119, ../sass/homec.scss */
body #form-login .social-sign-up a:nth-child(2):hover {
  background-color: #bd1c1c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 127, ../sass/homec.scss */
body #form-login .social-sign-up a:last-child {
  color: #478bb2;
  text-transform: inherit;
  padding: 0;
  margin-top: 23px;
  text-align: center;
  display: block;
}
/* line 138, ../sass/homec.scss */
body #form-login .button-submit {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 144, ../sass/homec.scss */
body #form-login .button-submit:hover {
  background-color: #376b8a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

/* line 154, ../sass/homec.scss */
.active {
  opacity: 1 !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

/* line 161, ../sass/homec.scss */
.button-submit {
  display: block;
  margin: auto;
  background-color: #478bb2;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  font-family: "roboto_slabbold";
  width: 50%;
  font-size: 18px;
  cursor: pointer;
}
@media only screen and (min-width: 56.813em) {
  /* line 161, ../sass/homec.scss */
  .button-submit {
    font-size: 20px;
  }
}

/* line 179, ../sass/homec.scss */
.container {
  background-color: #f2efec;
}
/* line 182, ../sass/homec.scss */
.container ul {
  margin-left: 0;
  margin-bottom: 0;
}
/* line 187, ../sass/homec.scss */
.container .join {
  background-color: #88a83b;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  cursor: pointer;
}
/* line 194, ../sass/homec.scss */
.container .join:hover {
  background-color: #67802d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 203, ../sass/homec.scss */
.container .help, .container .button-submit {
  background-color: #478bb2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  cursor: pointer;
}
/* line 210, ../sass/homec.scss */
.container .help:hover, .container .button-submit:hover {
  background-color: #376b8a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 218, ../sass/homec.scss */
.container .connect {
  color: #cf651a !important;
  font-weight: bold;
  margin-right: 15px;
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 227, ../sass/homec.scss */
.container .connect:hover {
  color: #e8721e !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 235, ../sass/homec.scss */
.container .register {
  color: #9dacc1 !important;
  font-weight: bold;
  float: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 243, ../sass/homec.scss */
.container .register:hover {
  color: #b2c3db !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 251, ../sass/homec.scss */
.container .header {
  text-transform: uppercase;
  color: #fff;
  background-color: #1a2129;
  font-family: "Open Sans";
}
@media only screen and (min-width: 56.813em) {
  /* line 251, ../sass/homec.scss */
  .container .header {
    background-color: transparent;
  }
}
/* line 261, ../sass/homec.scss */
.container .header .logo {
  padding: 8px 15px;
  display: inline-block;
  width: 150px;
  text-align: center;
}
@media only screen and (min-width: 56.813em) {
  /* line 261, ../sass/homec.scss */
  .container .header .logo {
    float: left;
  }
}
/* line 272, ../sass/homec.scss */
.container .header .menu {
  position: relative;
  background-color: #1a2129;
  margin-bottom: 15px;
}
/* line 277, ../sass/homec.scss */
.container .header .menu .social-media {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
/* line 282, ../sass/homec.scss */
.container .header .menu .social-media li {
  text-align: center;
  display: inline-block;
  margin-right: 7px;
}
/* line 289, ../sass/homec.scss */
.container .header .menu .second-nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  float: right;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  padding-right: 15px;
}
/* line 303, ../sass/homec.scss */
.container .header .menu .second-nav li {
  text-align: center;
  display: inline-block;
}
/* line 307, ../sass/homec.scss */
.container .header .menu .second-nav li a {
  font-size: 15px;
}
/* line 313, ../sass/homec.scss */
.container .header .menu .first-nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translatey(-50%) translatex(-50%);
  -webkit-transform: translatey(-50%) translatex(-50%);
  -moz-transform: translatey(-50%) translatex(-50%);
  -ms-transform: translatey(-50%) translatex(-50%);
}
@media only screen and (min-width: 64.063em) {
  /* line 313, ../sass/homec.scss */
  .container .header .menu .first-nav {
    width: auto;
  }
}
/* line 330, ../sass/homec.scss */
.container .header .menu .first-nav .helped {
  padding: 0px 15px;
}
/* line 334, ../sass/homec.scss */
.container .header .menu .first-nav .join {
  padding: 5px 15px;
  font-weight: 800;
  border-radius: 5px;
  color: #fff;
}
/* line 341, ../sass/homec.scss */
.container .header .menu .first-nav li {
  display: inline-block;
  position: relative;
  text-align: center;
}
/* line 346, ../sass/homec.scss */
.container .header .menu .first-nav li a:nth-child(-n+2) {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 352, ../sass/homec.scss */
.container .header .menu .first-nav li a:nth-child(-n+2):hover {
  color: #5cb3e5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 360, ../sass/homec.scss */
.container .header .menu .first-nav li a {
  color: #fff;
  position: relative;
  font-size: 15px;
}
/* line 370, ../sass/homec.scss */
.container .slider {
  max-height: 490px;
}
/* line 373, ../sass/homec.scss */
.container .slider .slick-dots {
  display: none !important;
}
@media only screen and (min-width: 56.813em) {
  /* line 373, ../sass/homec.scss */
  .container .slider .slick-dots {
    margin-bottom: 25px;
    left: inherit;
    right: 24px;
    display: block !important;
  }
}
/* line 384, ../sass/homec.scss */
.container .slider .slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
}
/* line 389, ../sass/homec.scss */
.container .slider .slick-prev, .container .slider .slick-next {
  background-color: rgba(0, 0, 0, 0.7);
  width: auto;
  height: auto;
  padding: 10px;
}
/* line 396, ../sass/homec.scss */
.container .slider .slick-prev {
  left: 0;
}
/* line 399, ../sass/homec.scss */
.container .slider .slick-next {
  right: 0;
}
/* line 403, ../sass/homec.scss */
.container .slider a {
  color: #fff;
}
/* line 407, ../sass/homec.scss */
.container .slider .img-slider {
  position: relative;
  max-height: 490px;
}
/* line 411, ../sass/homec.scss */
.container .slider .img-slider .slogan-title-event {
  font-family: "franklin_gothic_fsdemi";
  padding: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 55%;
}
@media only screen and (min-width: 64.063em) {
  /* line 411, ../sass/homec.scss */
  .container .slider .img-slider .slogan-title-event {
    width: 30%;
  }
}
/* line 432, ../sass/homec.scss */
.container .slider .img-slider .slogan-title-event span {
  color: #88a83b;
}
/* line 436, ../sass/homec.scss */
.container .slider .img-slider .slogan-title-event h3 {
  color: #fff;
  font-size: 1.4rem;
  position: relative;
  padding-bottom: 10px;
}
/* line 442, ../sass/homec.scss */
.container .slider .img-slider .slogan-title-event h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}
/* line 453, ../sass/homec.scss */
.container .slider .img-slider .slogan-title-event h1 {
  font-size: 30px;
  color: #fff;
  text-align: left;
  padding: 0;
  margin-bottom: 30px;
  width: 100%;
  line-height: 35px;
}
/* line 467, ../sass/homec.scss */
.container .slider .img-slider img {
  width: 100%;
  max-height: 490px;
}
/* line 472, ../sass/homec.scss */
.container .slider .img-slider .caption-slider {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 15px;
}
/* line 480, ../sass/homec.scss */
.container .slider .img-slider .caption-slider .clearfix {
  width: 50%;
  margin: auto;
}
/* line 485, ../sass/homec.scss */
.container .slider .img-slider .caption-slider button {
  width: 48%;
  margin: 0;
  text-transform: uppercase;
  background-color: #818181;
}
/* line 492, ../sass/homec.scss */
.container .slider .img-slider .caption-slider .join {
  float: left;
}
/* line 496, ../sass/homec.scss */
.container .slider .img-slider .caption-slider .help {
  float: right;
}
/* line 501, ../sass/homec.scss */
.container .slider .img-slider .caption {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 509, ../sass/homec.scss */
.container .slider .img-slider .caption span {
  color: #1a2129;
  font-family: "roboto_slabbold";
  float: right;
}
/* line 518, ../sass/homec.scss */
.container .menu-mobile {
  background-color: #1a2129;
  text-transform: uppercase;
}
/* line 522, ../sass/homec.scss */
.container .menu-mobile a {
  color: #fff;
}
/* line 526, ../sass/homec.scss */
.container .menu-mobile ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
/* line 531, ../sass/homec.scss */
.container .menu-mobile ul li {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 535, ../sass/homec.scss */
.container .menu-mobile ul li img {
  width: 30px;
}
/* line 539, ../sass/homec.scss */
.container .menu-mobile ul li a {
  color: #fff;
  margin-left: 15px;
}
/* line 549, ../sass/homec.scss */
.container .slogan {
  font-family: "franklin_gothic_fsdemi";
  text-align: center;
  padding: 9px;
  font-size: 17px;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #1a2129;
  text-transform: uppercase;
}
@media only screen and (min-width: 56.813em) {
  /* line 549, ../sass/homec.scss */
  .container .slogan {
    background-color: transparent;
  }
}
/* line 564, ../sass/homec.scss */
.container .slogan span {
  color: #88a83b;
}
/* line 569, ../sass/homec.scss */
.container .see-event {
  position: relative;
}
/* line 572, ../sass/homec.scss */
.container .see-event:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #88a83b;
}
/* line 584, ../sass/homec.scss */
.container .global-content h2 {
  position: relative;
  width: 310px;
  margin: auto;
  text-align: center;
  font-size: 28px;
}
/* line 591, ../sass/homec.scss */
.container .global-content h2:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  right: -25px;
  width: 50px;
  height: 1px;
  background-color: #1a2129;
}
/* line 606, ../sass/homec.scss */
.container .global-content h2:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  left: 25px;
  width: 50px;
  height: 1px;
  background-color: #1a2129;
}
/* line 622, ../sass/homec.scss */
.container .global-content .services {
  text-align: center;
  margin-top: 35px;
}
@media only screen and (min-width: 56.813em) {
  /* line 622, ../sass/homec.scss */
  .container .global-content .services {
    margin-top: 15px;
    background-color: #e5ded8;
    padding: 15px 0px;
  }
}
/* line 632, ../sass/homec.scss */
.container .global-content .services img {
  margin: 35px 0px;
  text-align: center;
}
@media only screen and (min-width: 56.813em) {
  /* line 637, ../sass/homec.scss */
  .container .global-content .services p {
    margin-bottom: 0;
  }
}
/* line 643, ../sass/homec.scss */
.container .global-content .services h3 {
  margin-top: 15px;
}
/* line 647, ../sass/homec.scss */
.container .global-content .services .subscribe-bar {
  margin: 10px auto;
}
@media only screen and (min-width: 56.813em) {
  /* line 647, ../sass/homec.scss */
  .container .global-content .services .subscribe-bar {
    width: 50%;
  }
}
/* line 656, ../sass/homec.scss */
.container .global-content .teams {
  margin-top: 35px;
}
@media only screen and (min-width: 56.813em) {
  /* line 656, ../sass/homec.scss */
  .container .global-content .teams {
    background-color: #e5ded8;
    padding-top: 15px;
    margin-top: 15px;
  }
}
/* line 667, ../sass/homec.scss */
.container .global-content .teams .first .team-wrapper:nth-child(4), .container .global-content .teams .first .team-wrapper:nth-child(7) {
  display: none;
}
@media only screen and (min-width: 64.063em) {
  /* line 667, ../sass/homec.scss */
  .container .global-content .teams .first .team-wrapper:nth-child(4), .container .global-content .teams .first .team-wrapper:nth-child(7) {
    display: block;
  }
}
/* line 676, ../sass/homec.scss */
.container .global-content .teams h2 {
  margin-bottom: 35px;
}
/* line 680, ../sass/homec.scss */
.container .global-content .teams .done {
  background-color: transparent !important;
}
/* line 684, ../sass/homec.scss */
.container .global-content .teams .wrapper {
  border: 1px solid #d6d6d6;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}
/* line 691, ../sass/homec.scss */
.container .global-content .teams .wrapper .img {
  position: relative;
  cursor: pointer;
}
/* line 695, ../sass/homec.scss */
.container .global-content .teams .wrapper .img .done {
  background-color: rgba(136, 168, 59, 0.7) !important;
}
/* line 699, ../sass/homec.scss */
.container .global-content .teams .wrapper .img .hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 139, 178, 0.7);
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  height: 100%;
  width: 100%;
}
/* line 712, ../sass/homec.scss */
.container .global-content .teams .wrapper .img .hover span {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translatey(-50%) translatex(-50%);
  -webkit-transform: translatey(-50%) translatex(-50%);
  -moz-transform: translatey(-50%) translatex(-50%);
  -ms-transform: translatey(-50%) translatex(-50%);
}
/* line 728, ../sass/homec.scss */
.container .global-content .teams .wrapper .img img {
  width: 100%;
  max-height: 328px;
}
/* line 734, ../sass/homec.scss */
.container .global-content .teams .wrapper .title-team {
  font-family: "roboto_slabbold";
  text-align: center;
  margin: 10px 0px;
  text-transform: uppercase;
}
/* line 741, ../sass/homec.scss */
.container .global-content .teams .wrapper .chief-team, .container .global-content .teams .wrapper .date {
  font-size: 13px;
  color: #adadad;
}
/* line 746, ../sass/homec.scss */
.container .global-content .teams .wrapper .date {
  margin-bottom: 10px;
}
/* line 750, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam {
  text-align: center;
  position: relative;
  padding-top: 10px;
  text-transform: uppercase;
}
/* line 756, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}
/* line 766, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .validate {
  background-image: url(../img/checked.png);
  height: 22px;
  width: 22px;
  display: inline-block;
}
/* line 773, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .daysleft {
  display: inline-block;
  color: #1a2129;
  line-height: 16px;
  font-size: 11px;
}
/* line 779, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .daysleft span {
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (min-width: 56.813em) {
  /* line 779, ../sass/homec.scss */
  .container .global-content .teams .wrapper .progressteam .daysleft span {
    font-size: 15px;
  }
}
/* line 789, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .number {
  display: inline-block;
  line-height: 16px;
  text-align: left;
  color: #88a83b;
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 797, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .number span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* line 804, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .numbers, .container .global-content .teams .wrapper .progressteam .funded {
  display: inline-block;
  line-height: 16px;
  text-align: center;
  color: #88a83b;
  font-size: 11px;
  margin-bottom: 10px;
}
/* line 812, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .numbers span, .container .global-content .teams .wrapper .progressteam .funded span {
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (min-width: 56.813em) {
  /* line 812, ../sass/homec.scss */
  .container .global-content .teams .wrapper .progressteam .numbers span, .container .global-content .teams .wrapper .progressteam .funded span {
    font-size: 15px;
  }
}
/* line 822, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .funded {
  color: #478bb2;
}
/* line 828, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .good .ui-widget-header {
  background-color: #88a83b;
}
/* line 834, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .notyet .ui-widget-header {
  background-color: #818181;
}
/* line 839, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .ui-progressbar {
  height: 12px;
}
/* line 843, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .ui-progressbar .ui-progressbar-value {
  margin: 0px;
}
/* line 847, ../sass/homec.scss */
.container .global-content .teams .wrapper .progressteam .ui-widget-header {
  border: none;
}
/* line 857, ../sass/homec.scss */
.container .global-content .sponsors .first .sponsor-wrapper:nth-child(4), .container .global-content .sponsors .first .sponsor-wrapper:nth-child(7) {
  display: none;
}
@media only screen and (min-width: 64.063em) {
  /* line 857, ../sass/homec.scss */
  .container .global-content .sponsors .first .sponsor-wrapper:nth-child(4), .container .global-content .sponsors .first .sponsor-wrapper:nth-child(7) {
    display: block;
  }
}
@media only screen and (min-width: 56.813em) {
  /* line 854, ../sass/homec.scss */
  .container .global-content .sponsors {
    margin-top: 15px;
    background-color: #e5ded8;
    padding-top: 15px;
  }
}
/* line 873, ../sass/homec.scss */
.container .global-content .sponsors h2 {
  margin-bottom: 35px;
}
/* line 876, ../sass/homec.scss */
.container .global-content .sponsors .wrapper {
  background: #fff;
  border: 1px solid #d6d6d6;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
}
/* line 883, ../sass/homec.scss */
.container .global-content .sponsors .wrapper .img {
  position: relative;
  cursor: pointer;
}
/* line 888, ../sass/homec.scss */
.container .global-content .sponsors .wrapper .hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 139, 178, 0.7);
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  height: 100%;
  width: 100%;
}
/* line 901, ../sass/homec.scss */
.container .global-content .sponsors .wrapper .hover span {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translatey(-50%) translatex(-50%);
  -webkit-transform: translatey(-50%) translatex(-50%);
  -moz-transform: translatey(-50%) translatex(-50%);
  -ms-transform: translatey(-50%) translatex(-50%);
}
/* line 917, ../sass/homec.scss */
.container .global-content .sponsors .wrapper img {
  width: 100%;
  max-height: 328px;
}
/* line 922, ../sass/homec.scss */
.container .global-content .sponsors .wrapper a {
  width: 100%;
  display: inline-block;
  color: #fff;
  padding: 16px 32px 17px 32;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
/* line 935, ../sass/homec.scss */
.container .footer {
  background-color: #1a2129;
  text-align: center;
  padding: 8px;
  color: #fff;
  margin-top: 15px;
}

/* ANIMATIONS POP UP */
/* line 947, ../sass/homec.scss */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
/* line 955, ../sass/homec.scss */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
/* line 959, ../sass/homec.scss */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
/* line 964, ../sass/homec.scss */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */
/* line 972, ../sass/homec.scss */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
/* line 976, ../sass/homec.scss */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
