/* line 22, ../sass/profil.scss */
.menu-profil ul {
  list-style: none;
  margin-top: 80px;
  margin-left: 10px;
  width: 100%;
}
/* line 28, ../sass/profil.scss */
.menu-profil ul .selected {
  border-left: 1px solid #818181;
}
/* line 30, ../sass/profil.scss */
.menu-profil ul .selected a {
  color: #818181;
}
/* line 35, ../sass/profil.scss */
.menu-profil ul li {
  margin-top: 15px;
  padding-left: 10px;
  width: 100%;
  border-left: 1px solid #478bb2;
}
/* line 41, ../sass/profil.scss */
.menu-profil ul li a {
  text-transform: uppercase;
  font-size: 16px;
}

/* line 49, ../sass/profil.scss */
.content-profil {
  position: relative;
}
/* line 52, ../sass/profil.scss */
.content-profil h1 {
  color: #88a83b;
  text-transform: uppercase;
  text-align: center;
}
/* line 58, ../sass/profil.scss */
.content-profil #circle {
  border-radius: 100%;
  background-color: transparent;
  width: 170px;
  height: 170px;
  overflow: hidden;
  display: inline-block;
}
/* line 67, ../sass/profil.scss */
.content-profil #circle img {
  height: 100%;
}
/* line 72, ../sass/profil.scss */
.content-profil h3 {
  color: #494949;
  margin-bottom: 0px;
}
/* line 77, ../sass/profil.scss */
.content-profil p {
  color: #818181;
}
/* line 81, ../sass/profil.scss */
.content-profil .school-profil {
  text-align: right;
}
/* line 85, ../sass/profil.scss */
.content-profil #location {
  position: absolute;
  bottom: 0;
  left: 260px;
}
/* line 90, ../sass/profil.scss */
.content-profil #location img {
  width: 25px;
}

/* line 96, ../sass/profil.scss */
.general-profil {
  margin-top: 15px;
}
/* line 98, ../sass/profil.scss */
.general-profil .modif {
  text-decoration: underline;
  position: relative;
  float: left;
}
/* line 104, ../sass/profil.scss */
.general-profil .first-info p {
  font-weight: bold;
}
/* line 109, ../sass/profil.scss */
.general-profil .event-profil {
  padding: 5px;
  background-color: white;
}
/* line 113, ../sass/profil.scss */
.general-profil .event-profil img {
  width: 100%;
}
/* line 117, ../sass/profil.scss */
.general-profil .event-profil div {
  padding: 0;
  text-align: center;
}
/* line 121, ../sass/profil.scss */
.general-profil .event-profil span {
  display: block;
  font-size: 13px;
  color: #adadad;
}
/* line 126, ../sass/profil.scss */
.general-profil .event-profil .button-submit {
  font-size: 14px;
  width: 95%;
  color: #fff;
  background-color: #478bb2;
  margin-left: 8px;
  margin-top: 5px;
}
