@charset "UTF-8";
/* Slider */
/* line 22, ../sass/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 37, ../sass/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 44, ../sass/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 48, ../sass/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 53, ../sass/slick.scss */
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 61, ../sass/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 67, ../sass/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 73, ../sass/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 77, ../sass/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 81, ../sass/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 85, ../sass/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 88, ../sass/slick.scss */
.slick-slide img {
  display: block;
}
/* line 91, ../sass/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 97, ../sass/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 101, ../sass/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 105, ../sass/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 109, ../sass/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: slick-font-url("../fonts/slick.eot");
  src: slick-font-url("../fonts/slick.eot?#iefix") format("embedded-opentype"), slick-font-url("../fonts/slick.woff") format("woff"), slick-font-url("../fonts/slick.ttf") format("truetype"), slick-font-url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 132, ../sass/slick.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 148, ../sass/slick.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 152, ../sass/slick.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 156, ../sass/slick.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 160, ../sass/slick.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 169, ../sass/slick.scss */
.slick-prev {
  left: -25px;
}
/* line 171, ../sass/slick.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 175, ../sass/slick.scss */
.slick-prev:before {
  content: "←";
}
/* line 177, ../sass/slick.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 182, ../sass/slick.scss */
.slick-next {
  right: -25px;
}
/* line 184, ../sass/slick.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 188, ../sass/slick.scss */
.slick-next:before {
  content: "→";
}
/* line 190, ../sass/slick.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 201, ../sass/slick.scss */
.slick-dots {
  position: absolute;
  bottom: 0px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  right: 24px;
}
/* line 210, ../sass/slick.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 219, ../sass/slick.scss */
.slick-dots li button {
  border: 0;
  background: #fff;
  border-radius: 10px;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 232, ../sass/slick.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 234, ../sass/slick.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 239, ../sass/slick.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 258, ../sass/slick.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
