/**************** A RAJOUTER ****************/


/* SI PAS LA BONNE TAILLE D'IMAGE: PREVOIR */
.container .global-content .sponsors .wrapper img {
/* mettre une max-min */
height: 190px;
}
.container .global-content .teams .wrapper .img img {
/* mettre une max-min */
height: 255px;
}
.container .slider .img-slider img {
/* mettre une max-min */
height: 550px;
}