$screen: "only screen";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: 40em)";

$medium-up: "#{$screen} and (min-width: 40.063em)";
$medium-only: "#{$screen} and (min-width: 40.063em) and (max-width: 64em)";

$large-up: "#{$screen} and (min-width: 64.063em)";
$large-only: "#{$screen} and (min-width: 64.063em) and (max-width: 90em)";

$font-normal:   Helvetica, sans-serif;
$font-title:    'franklin_gothic_fsdemi';
$font-caption:	'roboto_slabbold';
$color-dark:	#1a2129;
$color-grey:	#818181;
$color-blue:	#478bb2;
$color-green:	#88a83b;
$bg-color:		#f2efec;


/*----- Tabs -----*/

.list-events {

 .head {

  border: 1px solid #CACACA;

  img {
   width: 100%;
  }

  .location, .date-begin, .date-finish {
   span {
    color: $color-green;
    font-weight: 800;
   }
  }
 }

 .number-teams-event {
  display: block;
  color: #575765;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 25px;
 }

 .teams {
  margin-top: 35px;

   @media #{$medium-up} {

    background-color: #e5ded8;
    padding-top: 15px;
    margin-top: 15px;
   }

   h2 {
    margin-bottom: 35px;
   }

   .done {
    background-color: transparent !important;
   }

   .wrapper {
    border: 1px solid #d6d6d6;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;

    .img {
     position: relative;
     cursor: pointer;

     .done {
      background-color: rgba(136, 168, 59, 0.7) !important;
     }

      .hover {
       position: absolute;
       top: 0;
       left: 0;
       background-color: rgba(71, 139, 178, 0.7);
       opacity: 0;
       color: #fff;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       height: 100%;
       width: 100%;

       span {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 15px;
        transform: translatey(-50%) translatex(-50%);
        -webkit-transform: translatey(-50%) translatex(-50%);
        -moz-transform: translatey(-50%) translatex(-50%);
        -ms-transform: translatey(-50%) translatex(-50%);
       }
      }

     img {
      width: 100%;
      max-height: 328px;
     }
    }

    .title-team {
     font-family: $font-caption;
     text-align: center;
     margin: 10px 0px;
     text-transform: uppercase;
    }

    .chief-team, .date {
     font-size: 13px;
     color: #adadad;
    }

    .date {
     margin-bottom: 10px;
    }

    .progressteam {
     text-align: center;
     position: relative;
     padding-top: 10px;
     text-transform: uppercase;

     &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d6d6d6;
     }

     .validate {
      background-image: url(../img/checked.png);
      height: 22px;
      width: 22px;
      display: inline-block;
     }

     .daysleft {
      display: inline-block;
      color: $color-dark;
      line-height: 16px;
      font-size: 10px;

      span {
       font-weight: bold;
       font-size: 20px;

       @media #{$medium-up} {
        font-size: 15px;
       }
      }
     }

     .number {
      display: inline-block;
      line-height: 16px;
      text-align: left;
      color: $color-green;
      font-size: 15px;
      margin-bottom: 10px;

      span {
       font-weight: bold;
       font-size: 20px;
       text-align: center;
      }
     }

     .numbers, .funded {
      display: inline-block;
      line-height: 16px;
      text-align: center;
      color: $color-green;
      font-size: 11px;
      margin-bottom: 10px;

      span {
       font-weight: bold;
       font-size: 20px;

       @media #{$medium-up} {
        font-size: 15px;
       }
      }
     }

     .funded {
      color: $color-blue;
     }

     .good {

      .ui-widget-header {
       background-color: $color-green;
      }
     }

     .notyet {
      .ui-widget-header {
       background-color: $color-grey;
      }
     }

     .ui-progressbar {
      height: 12px;
     }

     .ui-progressbar .ui-progressbar-value {
      margin: 0px;
     }

     .ui-widget-header {
      border: none;
     }
    }
   }
  }

}
