body {
    margin:0;
    padding:0;
    text-align: center;
    background: url(../img/fond.png) center no-repeat;
    font-family: arial;
    font-weight: bold;
    font-size:30px;
    width:100%;
}

#header img {
    width:200px;
}

#header p{
    margin-top:0px;
}