.allgroup{
list-style: none;
}
.projet{
width: 100px;
float: left;
margin: 1%;
}
.description{
clear: both;
}
.del{
float: right;
margin-right: 2%;
}

.form-left{
float: left;
width: 20%;
margin-left: 10%;
}
.box-success{
height: 550px;
}
.form-actions{
margin-top: 20%;
}